/*Styling background image*/
#bgarea
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 80px;
	background-image: url(../images/wallpaper2.png);
	background-size: cover;
	background-position: center ;
}
/*Styling logo image beside the login form*/
#bg img
{
	width: 650px;
	height: 170px;
	position: fixed;
	padding: 100px 100px;
}
/*Styling form*/
form
{
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	width: 30%;
	height: 50%;
	margin: 70px 900px;
	border-width:3px;
	border-style: solid;
	border-radius: 30px;
	background-color: #2f2d2d;
	position: absolute;
}


/*Add style to class email for Email of the user in the form*/
.input
{

	font-size: 25px;
	width: 70%;
	padding: 0;
	margin: 9px 80px;
	display: block;
	border: 10;
	box-sizing: border-box;
	
}
/*Add style to class button for submission of the form*/
.button
{
	color: #000000;
    width:25%;
	background-color: #66ffff;
	padding:10px 8px;
	margin:20px 0;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
/*Styling hover in the submit button*/
.button:hover
{
 opacity: 0.9;
}
/*Styling the link to create a new account*/
.button2
{
	color:#99ff99; 
	text-decoration: none;
}
