/*Styling form*/
form
{
	font-weight: bold;
	text-align: center;
	width: 35%;
	height: 80%;
	margin: 70px 900px;
	border-width:3px;
	border-style: solid;
	border-radius: 30px;
	background-color: #2f2d2d;
	bottom: 30px;
	position: absolute;
}
/*Styling background image*/
.bgarea
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-image: url(../images/wallpaper2.png);
	background-size: cover;
	background-position: center ;
}
/*Styling logo image beside the form*/
#bg img
{
	width: 650px;
	height: 170px;
	position: fixed;
	padding: 100px 100px;
}
/*Styling the input box in the form*/
.signinp
{

	font-size: 18px;
	padding:0;
	margin:12px 135px;
	display:block;
	border:10;
	border-radius: 5px;
	box-sizing: border-box;
}
/*Styling the submit button in the form*/
.button
{
    width:25%;
	background-color:#99ff99;
	padding:10px 8px;
	margin:50px 0;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
/*Styling the hover in form submit button*/
.button:hover
{
 opacity: 0.7;
}
